parameters:
    # see https://phpstan.org/user-guide/output-format#opening-file-in-an-editor
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    level: 8

    paths:
        - src
        - tests